<h2>{{rockName}} climbing routes:</h2>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Route name</th>
      <th>Difficulty</th>
      <th>About</th>
      <th>Conqueror</th>
      <th>Completed</th>
      <th>Mark as completed</th>
    </tr>
  </thead>
  <tbody>
    {{#each climbingRoutes}}
      <tr>
        <th>{{this.route_number}}</th>
        <th>{{this.route_name}}</th>
        <th>{{this.difficulty}}</th>
        <th>{{this.about}}</th>
        <th>{{this.conqueror}}</th>
        <th>{{isCompleted this.completed}}</th>
        <th>
          <form action="/land/area/rock_area/rock/climbing_route" method="post">
            <label>
              <input type="radio" name="choice-radio">
              Yes
            </label>
            <label>
              <input type="radio" name="choice-radio">
              No
            </label>
            <button type="submit">Save</button>
          </form>
        </th>
      </tr>
    {{/each}}
  </tbody>
</table>
